@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

body{
  font-family: 'Commissioner', sans-serif;
}

.upper_part{
  display: flex;
  flex-direction: row;
}
.header_strong_pogoda{
  font-size: 130%;
  margin: 10px;
}
.podrobno{
  background: #cfced1;
  border-radius: 5px;
  font-size: 80%;
  margin: 10px;
  padding: 0.5%;
}

.weather{
  display: block;
  padding: 10px;
  margin: 10px;
  width: 10%;
}

.weather:hover{
  outline: 2px solid rgb(3, 1, 0);
}

.month{
  background: #cfced1;
  border-radius: 5px;
  font-size: 80%;
  margin: 10px;
  padding: 0.5%;
}
.Day_of_week{
  font-size: 120%;
  font-weight: bold;
}

.daylight{
  font-size: 130%;
  font-weight: bold;
}

.nightlight{
  font-size: 80%;
}

.condition{
  padding-top: 5px;
  font-size: 80%
}

.all_in{
  display: flex;
  flex-direction: row;
}
